<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<ul>
<% @posts.each do |p| %>
	
	<li>
		<ul>
			<li><%= image_tag p.profile.image.url(:thumb) %></li>
			<% if p.image.content_type === nil %>
				
			<% else %>	
				<li><%= image_tag p.image.url %></li>
			<% end %>
			<li><%= p.title %></li>
			<li><%= raw(p.content) %></li>
		</ul>
	</li>
	
<% end %>
</ul>