body {
	margin: 0px 0px;
}

h1 {
	font-family: 'Open sans', sans-serif;
	font-weight: 700;
}
h5 {
	vertical-align: top;
}
.main-view-content {
	margin: 15px 30px;
}
.redactor_box {
	height: 400px;
}
.border-element {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 20px 0px;
}